.main-inner {
    width: 60%;
    margin: 0 auto 100px auto;
}

.main-title {
    text-align: center;
    margin: 70px 0px;
}


.main-form__label {
    font-size: 25px;
    font-weight: 700;
}

.main-form__input {
    width: 100%;
    height: 59px;
    border-radius: 4px;
}

.main-form__error {
    padding-bottom: 50px;
}

.main-dorm__submit {
    width: 100%;
    height: 50px;
    margin-top: 80px;
    background-color: #000000;
    border: none;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 700;
}

.main-form__error {
    color: red;
}