.main__inner {
    width: 900px;
    margin: 0px auto;
    padding: 100px 0px;
}

.main-title {
    display: flex;
    height: 40px;
}

.main-title__sentence {
    font-size: 30px;
    font-weight: 700;
    margin-top: 0px;
}

.marin-title__div {
    background-color: #000000;
    height: 30px;
    margin-top: 7px;
    margin-right: 10px;
}

.form-inner {
    background-color: #FFFFFF;
    width: 100%;
    margin-top: 50px;
    border-radius: 10px;
}

.form-line {
    display: flex;
    border-bottom: solid 2px #E1E1E1;
}

.form-item {
    margin: 25px 0 25px 50px;
    font-size: 15px;
    color: #737373;
}

.form-data__name {
    font-size: 16px;
    margin-left: 200px;
}

.form-data__year {
    font-size: 16px;
    margin-left: 200px;
}

.form-data__date {
    font-size: 16px;
    margin-left: 150px;
}

.form-data__attendance {
    font-size: 16px;
    height: 30px;
    width: 100px;
    margin: auto 0 auto 145px;
    border: solid 1px #E1E1E1;
    text-align: center;
}

.form-data__mark {
    font-size: 16px;
    margin: auto 0px auto 50px;
}

.form-data__leaving {
    font-size: 16px;
    height: 30px;
    width: 100px;
    margin: auto 0 auto 45px;
    border: solid 1px #E1E1E1;
    text-align: center;
}

.form-data__break-start {
    font-size: 16px;
    height: 30px;
    width: 100px;
    margin: auto 0 auto 190px;
    border: solid 1px #E1E1E1;
    text-align: center;
}

.form-data__break-end {
    font-size: 16px;
    height: 30px;
    width: 100px;
    margin: auto 0 auto 45px;
    border: solid 1px #E1E1E1;
    text-align: center;
}

.form-data__remarks {
    font-size: 16px;
    height: 60px;
    width: 310px;
    margin: auto 0 auto 190px;
    border: solid 1px #E1E1E1;
}

.form-button {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 5px;
    height: 50px;
    width: 130px;
    font-size: 22px;
    margin: 50px 0px 0px 770px;
}