.main{
    padding-top: 150px;
}

.main__situation{
    background-color: #C8C8C8;
    color: #696969;
    height: 40px;
    width: 100px;
    padding: 8px 25px;
    margin: 0px auto 0px auto;
    font-weight: 700;
    border-radius: 50px;
}

.main__date{
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
}

.main__time {
    font-size: 80px;
    text-align: center;
    font-weight: 700;
    margin-top: 0px;
}

.main-form {
    font-size: 80px;
    text-align: center;
    font-weight: 700;
}

.main-form__button {
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 20px;
    padding: 15px 100px;
    margin-bottom: 200px;
}