.header {
    height: 80px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
}

.header-inner{
    display: flex;
    justify-content: space-between;
}

.header__logo {
    height: 40px;
    width: auto;
}

@media (max-width: 1000px) {
    .header__logo {
        width: 180px;
    }
}

@media (max-width: 600px) {
    .header__logo {
        width: 130px;
    }
}

.header-inner__link {
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap;
    font-size: 24px;
    margin-right: 40px;
}

.header-inner__logout {
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    font-size: 24px;
    margin-right: 40px;
}